{% extends 'base.html' %}
{% block content %}
<style>

</style>
<section class="">
  <div class="px-6  text-gray-800">
    <div
      class="flex xl:justify-center lg:justify-between justify-center items-center flex-wrap g-6"
    >
      <div
        class="grow-0 shrink-1 md:shrink-0 basis-auto xl:w-6/12 lg:w-6/12 md:w-9/12 mb-20 md:mb-0"
      >
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="w-full"
          alt="Sample image"
        />
      </div>
      <div class="xl:ml-20 xl:w-5/12 lg:w-5/12 md:w-8/12 mb-20 md:mb-0" >
        <span class="mb-0 text-muted text-white">
          {% if msg %}
              {{ msg | safe }}
          {% else %}
              Login page
          {% endif %}
        </span>
        <form method="POST" class="form-control block w-full px-4 py-2 text-xl font-normal bg-clip-padding" autocomplete="off">
           {% csrf_token %}
  
          <!-- Email input -->
          <h2 class="text-white">If student Username is the USN</h2>
          <br>
          <div class="mb-6">
            <div class="text-2xl form-group first">
              <label class="p-1 text-white" for="username">Username</label>
                {{ form.username }}
            </div>
          </div>

          <!-- Password input -->
          <div class="mb-6">
            <div class="text-2xl form-group last mb-4">
              <label for="username" class="p-2 text-white">Password</label>
              {{ form.password }}
          </div>

          <br>

          <div class="text-center lg:text-left">
            <input type="submit" value="Log In" name="" id="" class="inline-block px-7 py-3 bg-blue-600 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{%endblock content%}